<div class="h1-portlet">
    <h2>New Teacher Details</h2>
</div>
<form action="/teachers" method = "post">

    <label for="">First Name</label>
    <input type="text" name ="first_name" placeholder="E.g. John">

    <label for="">Middle Name</label>
    <input type="text" name ="middle_name" placeholder="E.g. William">

    <label for="">Last Name</label>
    <input type="text" name ="last_name" placeholder="E.g. Smith">

    <label for="">Email</label>
    <input type="text" name ="email" placeholder="E.g. j.smith@gmail.com">

    <label for="">Password</label>
    <input type="password" name ="password">


    <button>Add New Teacher</button>
</form>