<h1>Hello Latin Teacher!</h1>

<h2>New question form</h2>

<form action="/questions" method = "post">
    <label for="">Question</label>
    <input type="text" name ="question" placeholder="1+1">

    <label for="">Question Type</label>
    <input type="text" name ="assessment_type" placeholder="Grammar">

    <label for="">Answer Key</label>
    <input type="text" name ="answer_key" placeholder="2">

    <button>Add New Question</button>
</form>