<h1>Hello Latin Teacher!</h1>

<h2>New Student Details</h2>

<form action="/students" method = "post">

    <label for="">First Name</label>
    <input type="text" name ="first_name" placeholder="E.g. John">

    <label for="">Middle Name</label>
    <input type="text" name ="middle_name" placeholder="E.g. William">

    <label for="">Last Name</label>
    <input type="text" name ="last_name" placeholder="E.g. Smith">

    <label for="">Class ID</label>
    <input type="text" name ="school_class_id" placeholder="E.g. 1">

    <label for="">Email</label>
    <input type="text" name ="email" placeholder="E.g. j.smith@gmail.com">

    <label for="">Password</label>
    <input type="password" name ="password">


    <button>Add New Student</button>
</form>

<a href="/teachers/home"><button>Home</button></a>
<a href="/students"><button>Students</button></a>