<h1>Classes</h1>

<a href="/classes/new"><button>Add A New Class</button></a>

<% @classes.each do |school_class|%>
   <a href="/classes/<%= school_class.id%>"><p><%= school_class.year%><%= school_class.class_letter%> is led by <%= school_class.teacher.first_name%></p></a>
<% end %>

<a href="/teachers/home"><button>Return Home</button></a>