<h1>Hello Are You A Student Or A Teacher?</h1>

<h2>Choose your login portal?</h2>

<a href="/students/login"><button>Student Login</button></a>
<a href="/teachers/login"><button>Teacher Login</button></a>

