<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Latin Self-Assessment Tool</title>
  <link rel='stylesheet' href='/stylesheets/reset.css'>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <%if logged_in?%>
    <nav>
      <a href="/questions"><div>Questions</div></a>
      <% if session[:user_type] == 'Teacher'  %>
      <a href="/classes"><div>Classes</div></a>
      <div class="user"><%= Teacher.find(session[:user_id]).email %>
      <% elsif session[:user_type] == 'Student'%>
      <a href="/answers"><div>Answers</div></a>
      <a href="/metrics"><div>Metrics</div></a>
      <div class="user"><%= Student.find(session[:user_id]).email %>
      <% end %>
        <form action="/sessions" method="post">
          <input type="hidden" name="_method" value="delete">
          <button>logout</button>
        </form>
      </div>
    </nav>
  <% else %>
    <a href="/login"><button>login</button></a>
  <%end%>
  <%= yield %>
  <nav class="bottom-bar">
    <div>
    </div>
  </nav>
  <script src="/javascripts/application.js"></script>
</body>
</html>