<div class="login-container portlet centered">
    <h1>Latin Self-Assessment</h1>
    <h2>Login Portal</h2>

    <form class="login-form rows" action="/sessions" method="post">
        <div class="left-aligned">
            <label for="">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="email">
        </div>
        <div class="left-aligned">
            <label for="">Password&nbsp;</label>
            <input type="password" name="password">
            <button>Login</button>
        </div>
    </form>
</div>