<div class="background"></div>
<div class="grad"></div>
<div class="stripe"></div>
<div class="login-and-title">
    <div class="header">
        <div>Quiz<span>Aide</span></div>
    </div>
    <br>
    <form class="login" action="/sessions" method="post">
        <input type="text" placeholder="email" name="email"><br>
        <input type="password" placeholder="password" name="password"><br>
        <button>Login</button>
    </form>
</div>