<h1>Latin Self-Assessment</h1>
<h2>Student Login Portal</h2>

<h3>Portal is currently under maintenance</h3>

<form action="/students/login" method="post">
    <label for="">Username</label>
    <input type="text" name="username" value="">
    <label for="">Password</label>
    <input type="text" name="username" value="">
    <button>Log In</button>
</form>

<a href="/students/home">Temporary Authentication Skip</a>
<%# Add /students/:id/home  after authentication %>