
<div class="h1-portlet">
    <h1>List of All Teachers</h1>
</div>


<a href="/teachers/new"><button>Add A New Teacher</button></a>

<% @teachers.each do |teacher|%>
    <h4><%=teacher.first_name%> <%= teacher.last_name%></h4>
    <a href="/teachers/<%=teacher.id%>"><h5>Teacher Record</h5></a>
<% end %> 
