<div class="h1-portlet">
    <h1>List of All Teachers</h1>
</div>


    <a class="new-student-btn" href="/teachers/new"><button>Add A New Teacher</button></a>

<div class="teacher-container">
    <% @teachers.each do |teacher|%>
    <a href="/teachers/<%=teacher.id%>">
        <div class="portlet-tiny">
            <h4><%=teacher.first_name%> <%= teacher.last_name%></h4>
        </div>
    </a>
    <% end %> 
</div>