<div class="flex-row flex-wrap z-index-5">
    <div class="choice quartered-flex-element"><a href="/teachers/<%= current_user.id%>/classes"><div>My Classes</div></a></div>
    <div class="choice quartered-flex-element"><a href="/teachers/classes"><div>All Classes</div></a></div>
</div>