<div class="flex-row flex-wrap">
    <div class="choice"><a href="/teachers/<%= current_user.id%>/classes"><div>My Classes</div></a></div>
    <div class="choice"><a href="/teachers/classes"><div>All Classes</div></a></div>
</div>