<div class="flex-row">
    <a class="flex-item" href="/teachers/<%= current_user.id%>/classes"><div>My Classes</div></a>
    <a class="flex-item" href="/teachers/classes"><div>All Classes</div></a>
</div>