<div class="flex-row">
    <a class="flex-item" href="/questions/new" ><div>New Question</div></a>
    <a class="flex-item" href="/teachers/<%= current_user.id%>/questions"><div>My Questions</div></a>
    <a class="flex-item" href="/teachers/questions"><div>All Questions</div></a>
    <a class="flex-item" href="/answers/review"><div>Review Answers</div></a>
</div>