<h1>Home</h1>

<a href="/students/new"><button>Add New Students to the database</button></a>
<a href="/students"><button>View Current Students</button></a>

<a href="/classes/new"><button>Add New Classes to the database</button></a>
<a href="/classes"><button>View Current Classes</button></a>

<a href="/questions/new"><button>Write a new question</button></a>
<a href="/questions"><button>View Current Questions</button></a>