/* Colors */
:root {
    --charcoal: #36384C;
    --fresh: #849974;
    --burgundy: #613A43;
    --petal: #E3BAB3;
    --cream: #E9DCDD;
}
.zero-dimensions {
    position: relative;
    align-self: flex-start;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}
.full-dimensions{
    width: 100vw;
    height: calc(94vh);
    z-index: -1;
}
.full-width{
    width: 100%;
}
.margin-0{
    margin: 0 !important;
    align-self: flex-start !important;
}
.z-index-5{
    z-index: 5;
}
.z-index-4{
    z-index: 4;
}
main {
    min-height: 94vh;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--cream)
}
h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
/* Top Bar Styling */
.force-justify-content-flex-end{
    justify-content: flex-end !important;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-weight: 700;
}
.top-bar {
    min-height: 4vh;
    font-size: 1.4em;
    font-weight: 400;
    width: 100%;
    background-color: var(--charcoal);
    color: var(--petal);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.top-bar > * {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-bar > * > * {
    flex-shrink: 1;
}
nav > a, nav > div{
    display: block;
    flex-grow: 1;
    height: 100%;
    /* min-height: 4vh; */
    /* transition: color 0.1s ease-in; */
    transition: none;
    border: none;
    outline: none;
    padding: 4px;
}
nav > a:hover, nav > div:hover,nav > a > div:hover {
    color: var(--fresh);
    background-color: rgba(255,255,255,0.05) !important;
}
nav > a > div, .user {
    text-align: center;
    background-color: var(--charcoal);
    height: 100%;
    /* min-height: 4vh; */
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center; 
    padding: 4px;
    height: 100%;
    color: var(--petal);
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.user button, .check_answer {
    font-size: 0.8em;
    border-radius: 0.2em;
    padding: 0.25em 0.5em 0.25em 0.5em;
    color: var(--cream);
    background-color: var(--burgundy);
    border: none;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
    
}
.check_answer{
    font-size: 0.85em;
    margin-right: 1em;
    background-color: var(--charcoal);
    color: var(--cream);
}
.check_answer:hover{
    color: var(--cream);
    background-color: var(--burgundy);
}
.user button:hover {
    background-color: var(--petal);
    color: var(--charcoal);
}
/* Bottom Bar Styling */
.bottom-bar {
    width: 100%;
    min-height: 2vh;
}
.bottom-bar > div {
    background-color: var(--charcoal);
    z-index: 3;
    padding: 5px;
    height: 100%;
    min-height: 2vh;
}
/* General Styling */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flex-row > a, .flex-row > div {
    display: block;
    text-align: center;
}
.flex-item {
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 5px;
    flex-grow: 1;
}
.hidden {
    visibility: hidden;
}
/* Self Assessment Selection: Correct|Incorrect|Unsure */
.outcomes{
    display: flex;
    justify-content: space-around;
}
.left-rounding{
    border-bottom-left-radius: 0.5em;
    border-top-left-radius: 0.5em;
}
.outcomes > span{
    padding: 2px;
    background-color: var(--charcoal);
    color: white;
    display: flex;
    align-items: center;
}
.outcomes > span:hover{
    color: var(--fresh);
    transition: all 0.1s linear;
}
.outcomes > button,.edit-question {
    background-color: var(--fresh);
    border: none;
    color: var(--charcoal);
    font-size: 1em;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.edit-question{
    border-radius: 0.5em;
    align-self: flex-end;
    margin: 8px;
}
input[type='radio']:after {
    width: 14px;
    height: 14px;
    border-radius: 15px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: var(--cream);
    content: '';
    display: inline-block;
    visibility: visible;
}
input[type='radio']:checked:after {
    width: 14px;
    height: 14px;
    border-radius: 15px;
    top: 0px;
    left: -1px;
    position: relative;
    background-color: var(--fresh);
    content: '';
    display: inline-block;
    visibility: visible;
}
.side-margin-1em{
    margin: 0 1em;
}

.questions-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 6;
}
.question-div,.student_answer_container {
    text-align: left;
    border: 1px solid var(--charcoal);
    color: var(--charcoal);
    background-color: var(--cream);
    min-width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.question,.sa-question {
    padding: 8px;
    background-color: var(--petal);
    border-bottom: 1px solid var(--charcoal);
}
.sa-question{
    display: inline;
}
.check-or-cross{
    padding: 5px 0.3em;
    border-bottom: 1px solid var(--charcoal);
    border-left: 1px solid var(--charcoal);
    font-size: 2em;
    margin-bottom: 5px;
    background-color: var(--petal);
    
}
.question-form{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 8px;
}
.question-form > .first-row {
    width:  50%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.first-row > * {
    margin-left: 0.3em;
    margin-right: 0.3em;
}
.first-row > input {
    outline: none;
    border: none;
    padding: 0.25em;
    color: var(--charcoal);
}

.bottom-border{
    border-bottom: 1px solid var(--charcoal);
}
.teacher-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.student_answer_container{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.title-width-matching{
    width: calc(80vw + 1.5em);
}

.student-update-form{
    padding: 8px;
    font-size: 1.2em;
}
.half-width-separated{
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-right: 5%;
    font-size: 1.3em;
}
.half-width{
    width: 50%;
}
.add-new-question{
    flex-grow: 0;
    align-self: flex-end;
    margin-right: 5%;
    font-size: 1em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--charcoal);
    color: var(--cream);
    transition: all 0.1s ease-in;
    margin-top: -1em;
}
.delete-question-button{
    background-color: var(--burgundy) !important;
    align-self: flex-end;
    /* padding: 8px; */
    font-size: 1.2em;
    margin-bottom: 0.5em;
}
.add-new-question:hover{
    background-color: var(--burgundy);
}
.student_answer_flex{
    width: calc(100% - 16px);
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}
.student_answer_flex > span {
    flex-grow: 1;     /* do not grow   - initial value: 0 */
    flex-shrink: 0;   /* do not shrink - initial value: 1 */
    flex-basis: 50%;  /*width/height  - initial value: auto*/
    text-align: left;
}
.sa-question{
    width: 100%;
    display: block;
    margin-bottom: 5px;
}
.review {
    width: calc(100% - 16px);
    text-align:right;
    display: flex;
    justify-content: flex-end;
    margin: 8px;
}
.review > * {
    background-color: var(--burgundy);
    color: var(--cream);
    padding: 4px;
    border-radius: 4px;
}
.reviewed{
    background-color: var(--fresh);
}

.Correct-highlight{
    background-color: var(--fresh);
}
.Incorrect-highlight{
    background-color: var(--burgundy);
    color: var(--cream);
}

/* Button Styling */
button {
    color: black;
}
.portlet-wrapper{
    /* position: relative;
    top: 0; */
}
.h1-portlet {
    height: 4.5rem;
    background-color: var(--fresh);
    border: 2px solid var(--charcoal);
    color: var(--charcoal);
    border-top: none;
    /* box-shadow: 0rem 0rem 0.5rem #4257B2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(80vw + 1.5em);
    margin-bottom: 1.5rem;
}
.h1-portlet > h1 {
    display: inline-block;
}
.h2-portlet{
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    width: calc(80vw + 1rem);
    margin-bottom: 1.5rem;
    background-color: var(--petal);
    border: 1px solid var(--charcoal);
    color: var(--charcoal);
}
.h2-portlet > *,.portlet > * {
    width: 70%;
}
.horizontal-flex{
    display: flex;
    height: 14em;
    align-items: center;
}
.horizontal-flex-container{
    display: flex;
}
.question-and-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.width-height-override,.width-height-override2{
    width: calc(40vw + 0.75em) !important;
    height: 14em !important;
}
.width-height-override2 > * {
    width: auto !important; 
    align-self: flex-start;
    margin: 0.5em !important;
    margin-left: 2em !important;
}

.portlet{
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(80vw + 1rem);
    margin-bottom: 1.5rem;
    text-align: left;
    background-color: var(--petal);
    border: 1px solid var(--charcoal);
    color: var(--charcoal);
    font-size: 1.0em;
}
.portlet-variant{
    height: 8rem;
    box-shadow: 0rem 0rem 0.35rem #4257B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: calc(80vw + 1rem);
    margin-bottom: 1.5rem;
}
.portlet-variant > * {
    margin-left: 1rem;
}
.portlet-variant2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    margin-bottom: 1.5rem;
    background-color: rgba(227,186,179,0.6);
    border: 1px solid var(--charcoal);

    color: var(--charcoal);
}
.portlet-variant2 > * {
    margin-left: 1rem;
}
.portlet-med{
    height: 12em;
    background-color: var(--petal);
    color: var(--charcoal);
    border: 1px solid var(--charcoal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(80vw + 1rem);
    margin-bottom: 1.5rem;
}
.portlet-med > * {
    margin: 0.5rem;
}
.portlet-sml{
    /* height: 6rem; */
    box-shadow: 0rem 0rem 0.35rem #4257B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}
.portlet-tiny{
    height: 3rem;
    box-shadow: 0rem 0rem 0.35rem #4257B2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
}
.quartered-flex-element{
    width: calc(50%);
    min-height: 2em;
    font-size: 1.8em;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--charcoal);
    background-color: var(--petal);
    color: var(--charcoal);
}
.quartered-flex-element:hover{
    background-color: var(--fresh);
    transition: all 0.1s ease-in;
}
.quartered-flex-element2{
    width: calc(50%);
    font-size: 1.8em;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--charcoal);
    background-color: var(--petal);
    color: var(--charcoal);
}
.triune-flex-element{
    width: calc(100% / 3);
    font-size: 1.8em;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--charcoal);
    background-color: var(--petal);
    color: var(--charcoal);
}
.sixth-flex-element{
    width: calc(100% / 6);
    font-size: 1.8em;
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--charcoal);
    background-color: var(--petal);
    color: var(--charcoal);
}

.portlet-sml:hover{
    background-color: #4257B2;
    color: white;
    transition: all 0.4 linear;
}
.new-student-btn, .new-class-btn, .new-class-btn button, .new-student-btn button{
    margin: 1rem;
}

.students-container, .classes-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0; 
}
.students-container > *, .classes-container > *{
    width: calc(80vw + 1.5em);
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    text-align:center;
    display: flex;
}
.classes-container > *:hover ,.students-container > *:hover {
    background-color: var(--fresh);
}
.classes-container > * > * ,.students-container > * > * {
    width: 50%;
    background-color: var(--cream);
    color: var(--charcoal);
    border-bottom: 1px solid var(--charcoal);
}
.classes-container > * > *:hover, .students-container > * > *:hover{
    background-color: rgba(227,186,179,1);
}

.new-class-btn button, .new-student-btn button{
    width: 12rem;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 0.3rem;
    padding: 10px;
}
.new-class-btn button:hover, .new-student-btn button:hover {
    background-color: #4257B2;
    color: white;
    transition: all 0.4 linear;
    border: none;
}
.centered {
    align-items: center !important;
}
.portlet > h3 {
    /* align-self: flex-start; */
    margin: 0.5em;
}
.col {
    display:flex;
    flex-direction: row;
}
.rows {
    display: flex;
    flex-direction: column;
}

.left-aligned{
    text-align:left;
}
.login-container h2{
    margin-bottom: 1rem;
}
.login-form .left-aligned {
    margin-bottom: 0.5rem;
}

.student-update-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.student-update-form-row{
    /* margin-left: 8px; */
    width: 100%;
    font-size: 1.5em;
    display:flex;
    justify-content: flex-start;
    text-align:left;
}
.student-delete-form{
    display: flex;
    height: 2em;
    justify-content: flex-end;
    margin-right: 7px;
}
.label-input-pair{
    min-width: 30%;
    margin-bottom: 0.5rem;
}
.min-width-80{
    min-width: 80px;
}
.max-width-75{
    max-width: 75%;
}
.margin-right-1em{
    margin-right: 1em;
}
.margin-left-8px{
    margin-left: 8px;
}
.flex-grow-1{
    flex-grow: 1;
}
.opaque-petal{
    opacity: 1;
    background-color: var(--petal) !important;
}
.flex-wrap{
    width: 100%;
    flex-wrap: wrap;
}
.padding-8px{
    padding: 8px;
}
.padding-8px-sides{
    padding: 0 8px;
}
.margin-top{
    margin-top: 0.5rem;
}
.margin-bottom-2em{
    margin-bottom: 2em;   
}
.leftadjust{
    margin-left: 5rem;
}
.page-centre{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
	margin: 0;
	padding: 0;
	background: var(--charcoal);
	color: #fff;
	font-family: Arial;
	font-size: 12px;
}
/* 
.body{
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
    /* background-image: url(https://www.tungamahavidyalaya.in/images/library.jpg); */
	/* background-size: cover;
	-webkit-filter: blur(3px);
	z-index: 0; */
/* } */

.grad{
	position: absolute;
	top: 4vh;
	/* left: -20px; */
	right: 0px;
	bottom: 2vh;
	width: 100%;
	height: calc(100% - 4vh);
	background: rgba(255,255,255,0.4);
	z-index: 0;
    opacity: 0.6;
}
.grad-override{
    position: relative;
    top: 0;
    width: 100vw;
    height: 94vh;
    z-index: 4;
}
.blocker{
    background-color: var(--cream);
    height: 100%;
}
.font-size-1-5em{
    font-size: 1.5em;
}
.header{
	position: absolute;
	top: calc(50% - 35px);
	left: calc(50% - 255px);
    z-index: 2;
    /* background: rgba(255,255,255,0.4);
    padding: 1.0em;
    border-radius: 0.4em; */
}

.header div{
	float: left;
    color: var(--cream);
    /* text-shadow: 1px 1px var(--burgundy); */
	font-family: 'Exo', sans-serif;
	font-size: 35px;
	font-weight: 200;
}

.stripe{
    height: 170px;
    width: 100%;
    position: absolute;
    top: calc(50% - 85px);
    background-color: var(--charcoal);
    /* z-index: 3; */
	/* left: calc(50% - 50px); */
}

.header div span{
    color: var(--fresh) !important;
    /* text-shadow: 1px 1px var(--cream); */
}

.login{
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
    z-index: 2;
    /* background: rgba(255,255,255,0.4);
    padding: 1.0em;
    border-radius: 0.4em; */
}
.background{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(https://www.tungamahavidyalaya.in/images/library.jpg);
    background-size: cover;
    flex-grow: 1;
    background-repeat: repeat-y;
}
.login-and-title{
    height: 0;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--petal);
	border-radius: 2px;
	color: var(--petal);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid var(--petal);
	border-radius: 2px;
	color: var(--petal);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login button{
	width: 250px;
	height: 35px;
	background: #fff;
    border: 1px solid #fff;
    background: var(--fresh);
	border: 1px solid var(--fresh);
	cursor: pointer;
	border-radius: 2px;
	color: var(--charcoal);
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}